* {
  box-sizing: border-box;
}

//Shared Styles
h1 {
 color: #32BE76;
 font-family:'Avenir';
 font-weight: bold;
}


// Annie Codes Under Here
.listingDisplay {
  @media screen and (max-width: 600px) {
    column-count: 2;
  }
  padding-top: 15px;
}
.listingsImg {
  border-top-left-radius: 5px!important;
  border-top-right-radius: 5px!important;
  max-width: 100%;
}

.cardListStyle {
  border-radius: 5px !important;
  &:last-child {
    margin-bottom: 0;
  }
}
.cardListBodyStyle {
  padding: 5px!important;
}

.shadowCard {
  box-shadow: 0 0 5px grey;
}

#userFeatures {
  margin: 0;
}

// Larissa Codes Under Here
h4 {
 font-family:'Avenir';
 font-weight: bold;
}

h3 {
  color: #828282;
  font-family:'Avenir';
  font-size: .8em;
}

p {
 font-family:'Avenir';
 font-size: .9em;
}

.input-group-text {
  background-color: white;
  border: none;

}

.form-control {
  border: none;
}

.fa-search{
  color: #828282;
}

.fa-times{
  color: red;
  font-size: 1.5em;
}

.fa-bars{
  color: #828282;
  font-size: 1.5em;
}

.cardImageStyle{
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("../img/frame.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 5px grey;
  height: 25vh;
  width: 90vw;
}

.imageDiv {
  border-radius: 4px;
  padding: 35%;
}

.avacadoImg{
  background-image: url('../img/avo.jpg');
  background-position: center;
  background-size: cover;
}

.onionImg{
  background-image: url('../img/onion.jpg');
  background-position: center;
  background-size: cover;
}

.tomatoImg{
  background-image: url('../img/tommos.jpeg');
  background-position: center;
  background-size: cover;
}

.carrotsImg{
  background-image: url('../img/carrots.jpg');
  background-position: center;
  background-size: cover;

}

.broccoliImg{
  background-image: url('../img/brocco.jpg');
  background-position: center;
  background-size: cover;
}

h5 {
  color: #828282;
  font-family:'Avenir';
}

.active {
  color: black !important;
  font-weight: bold;
}

#navCard {
  border: none;
  box-shadow: 0 0 5px grey;
}

li {
  color: #828282;
  font-family:'Avenir';
  font-size: .8em;
}

.list-group-item {
  border: none;
}

#addNewListing{
  background-color: #32BE76 !important;
  border-radius: 50%;
  bottom: 20px;
  box-shadow: 0 0 8px #2d3436;
  height: 5.5vh;
  position: fixed;
  right: 20px;
  width: 10vw;
  z-index: 5;
}

.fa-plus{
  color: white;
}

.modal-header{
  border: none;
  .modal-title {
    font-size: 2em;
  }
}

.modal-footer{
  border-top: none;
}

.btn-success {
  background-color: #32BE76;
  border-color: #32BE76;
}

#exampleModal{
  margin-top: 12vh;
}

.active {
  color: black !important;
  font-weight: bold;
}

#navCard {
  border: none;
  box-shadow: 0 0 5px grey;
}

.card {
  border: none !important;
}
// Katherine Codes Under Here

.guest{
  color: #32BE76;
  font-family:'Avenir';
  font-weight: bold;

}

#signInHere{
  color: #32BE76;
  font-family:'Avenir';
  font-weight: bold;
}

#signUpHere{
  color: #32BE76;
  font-family:'Avenir';
  font-weight: bold;
}

#commentsCard {
  #commentBody{
    border: 1px solid rgba(0, 0, 0,.125);
    border-radius: 5px;
  }
}

#loginCard {
  background-image: url("../img/vege.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  #gradient {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255,255,255, 10));
    height: 100%;
    width: 100%;
  }
}

.contents {
  height: 100vh;
  width: 100vw;

  .positionContentsHeader {
    margin-top: 10vh;
  }

  .card {
    border-radius: 10px;
    box-shadow: 0 0 5px grey;

      .btn {
        border-radius: 10px;
        color: white;
        font-family:'Avenir';
        font-weight:500 ;
        letter-spacing: 0.5px;
        width: 60%;
      }

      .loginLink{
        font-size: 13px;

        a {
          color: #32BE76;
          font-family:'Avenir';
          font-weight: bold;
        }
      }
  }
}

@import 'mediaQueries.scss';
